
.clear { /*0,0,1,0*/
  clear: both;
}

.pZ_assigned_to { /*0,0,1,0*/
  font-size: 1em;
  overflow: hidden;
  margin-right: 10px;
  padding-top: .7em;
  white-space:nowrap;
  width: 20em;
}

.pZ_bugHighlight { /*0,0,1,0*/
  background-color: rgba(254, 236, 101, 0.25);
}

.pZ_bugNormal { /*0,0,1,0*/
  background-color: rgba(255, 250, 245, 0.75);
  border-radius-topleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  margin-bottom: 1.1em;
}

.pZ_hideChildren { /*0,0,1,0*/
  background-color: rgba(244, 116, 22, 0.15);
}

.pZ_bugstatus_CLOSED { /*0,0,1,0*/
  text-decoration: line-through;
}

.pZ_comments { /*0,0,1,0*/
  cursor: pointer;
}

.pZ_floatLeft { /*0,0,1,0*/
  float: left;
  padding: 0px 0px 0px 5px;
}

.pZ_floatRight { /*0,0,1,0*/
  float: right;
}

.pZ_icon { /*0,0,1,0*/
  cursor:  pointer;
}

.pZ_priority { /*0,0,1,0*/
  padding-top: .7em;
}

.pZ_Release { /*0,0,1,0*/
  font-size: 1em;
  margin-right: 10px;
  overflow: hidden;
  padding-top: .7em;
  white-space:nowrap;
  width: 12em;
}

.pZ_severity_blocker { /* 0,0,1,0 */
  color: #ed1c24;
  font-weight: bold;
}

.pZ_severity_critical { /* 0,0,1,0 */
  color: #aa1318;
}

.pZ_severity_major { /* 0,0,1,0 */
  color: #4b0607;
}

.pZ_severity_normal { /* 0,0,1,0 */
  color: black;
}

.pZ_short_desc { /*0,0,1,0*/
  overflow: hidden;
  margin-left: 10px;
  padding-top: .7em;
  white-space:nowrap;
  width: 30em;
}

.pZ_target_milestone { /*0,0,1,0*/
  font-size: 1em;
  margin-right: 10px;
  overflow: hidden;
  padding-top: .7em;
  white-space:nowrap;
  width: 10em;
}

.pZ_severity_minor { /* 0,0,1,0 */
  color: #333333;
}

.pZ_severity_trivial { /* 0,0,1,0 */
  color: #4d4d4d;
}

div.pZ_buglist { /*0,0,1,1*/
  text-align: left;
  margin-left: auto;
  padding: 10px;
}

div.pZ_bugitem { /*0,0,1,1*/
  border-top:  1px #4b0607 solid;
  border-left:  1px #4b0607 solid;
  border-radius-topleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  margin-left: 5px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
}

div.pZ_bugNum { /*0,0,1,1*/
  font-size: 1em;
  margin-right: 10px;
  padding-top: .7em;
}

span.pZ_bugNotice { /*0,0,1,1*/
  min-width: 22px;
  min-height: 22px;
  font-size: 1.1em;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  padding-top: .7em;
}

span.pZ_bugStatus { /*0,0,1,1*/
  width: 40px;
  min-height: 22px;
  font-size: .8em;
  display: inline-block;
  text-align: center;
  padding-top: .7em;
}

div.pZ_bugNum a { /* 0,0,1,2 */
  color: #4b0607;
}

div.pZ_buglist > div > div.pZ_bugitem { /* 0,0,2,2 */
  border-bottom: 1px solid #4b0607;
  border-right: 1px solid #4b0607;
  margin-left: 0px;
  padding-bottom: .2em;
}

#facebox {
  /* overlay is hidden before loading 
  display:none;*/
  /* standard decorations */
  width:97%;
  max-height:80%;
  background-color: rgba(255, 250, 245, 0.75);
  border:10px solid #666;
  /* for modern browsers use semi-transparent color on the border. nice! */
  border:10px solid rgba(250, 178, 11, 0.75);
  /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}

#facebox_content {
  max-height: 500px;
  overflow-y: auto;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255, 250, 245, 0.75);
}

#facebox > div {
  padding: 10px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}
#facebox h2 {
  margin:-10px;
  margin-bottom:0px;
  color:#fff;
  background-color: rgba(250, 178, 11, 0.75);
  padding:5px 10px;
  font-size:20px;
}

button {
  outline:1px outset #999;  
  border:1px solid #fff;  
  background-color:#222;
  color:#fff;
  height:24px;
  -moz-border-radius:4px;
  -moz-outline-radius:4px;
  cursor:pointer;
  font-size:11px;
  margin-left: 1em;
  float: right;
}
